body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

section{
    align-items: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}


.fade-element {
    opacity: 0;
    transition: opacity 3s ease;
}

.fade-element2 {
    opacity: 0;
    transition: opacity 7s ease;
}


.fade-in {
    opacity: 1;
}

.photo{
    height: 350px;
    width: auto;
}

.icon{
    height: 25px;
}

nav{
    margin: 11%;
}

.icons{
    width: 10px;
    height: auto;
}

.separador{
    color: black;
    background-color: black;
    margin: 1%;
}

div{
    margin-left: 10%;
    font-family: 'Playfair Display', serif;
}